# Ignore node_modules and .pnp directory in eagle-eye folder
eagle-eye/node_modules
eagle-eye/.pnp

# Ignore .pnp.js file
.pnp.js

# Ignore coverage folder
coverage

# Ignore .next and out folders in eagle-eye folder
eagle-eye/.next/
eagle-eye/out/

# Ignore build folder in eagle-eye folder
eagle-eye/build

# Ignore .DS_Store files
.DS_Store

# Ignore .pem files
*.pem

# Ignore debug logs for npm, yarn, and pnpm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore local env files
.env*.local

# Ignore .vercel folder
.vercel

# Ignore TypeScript files
*.tsbuildinfo
next-env.d.ts

# Ignore bc_notifs folder
bc_notifs
